body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red , yellow); /* Standard syntax */

}

h1 {
    font: 600 5.5rem 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h2 {

    font-size: 2.5rem;
}

h3 {
    font: 650 1.6rem 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.02em;
}
input {
    width: 10rem;
    height:3rem;
    border-color: black;
    border-width: 0.25em;
}